<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="sha512-FOS5ANNUsuvefA5Fm6hZBLsxqfF105LIysEgV8VNz29jZLVYIhI+MOLKPBmMXgkHhARFHf5pE7KbXOLE6TXW0A=="
          crossorigin="anonymous" />
</head>
<body>
    <div class="container">
         <h1 align="center">  All Student</h1>
        <br><br>

    <form method="POST" style="margin-bottom: 30px;">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" placeholder="name" name="name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" placeholder="email" name="email">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12" style="margin-top: 15px">
                <input type="submit" class="btn btn-success" value="Add New Student">
            </div>
        </div>
    </form>

    <br><br>

    <table class="table" style="margin-top: 80px;">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          {% for student in all_students %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>
                  <a href="/edit/{{ student.id }}" class="btn btn-success">Edit</a>
                  <a href="/delete/{{ student.id }}" class="btn btn-danger">Delete</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>

</body>
</html>